*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


.container {}

.calculator {
    margin: 0 auto;
    height: 400px;
    width: 400px;
    background-color: aqua;
    position: relative;
}

.well {
    background-color: #796868;
    width: 94%;
    height: 100%;
    margin-left: 3%;
}

.game-grid {
    width: 100%;
    height: 100%;
}

.row {
    background-color: #796868;
    width: 100%;
    height: 32.67%;
}

.row-2 {
    margin: 1% auto;
}

.blocks {
    width: 100%;
    height: 100%;
    /*display: inline-block;*/
}
.block {
    display: inline-block;
    width: 32.67%;
    height: 100%;
    background-color: greenyellow;
}

#block2, #block5, #block8 {
    margin: auto 1%;
}

.val {
    position: absolute;
    font-size: 4em;
    margin: 0 auto;
    padding: 8%;
}

#reset {
    width: 50%;
    padding: 10px;
    background-color: #f0ffff;
    font-size: 20px;
    float: left;
}

.playerSelection {
    width: 50%;
    float: left;
}

#player {
    font-size: 20px;
    width: 100%;
    height: 45px;
    padding-left: 50px;
    background-color: #f4f6f7;
}

#message {
    position: absolute;
    background-color: bisque;
    top: 40%;
    width: 100%;
    height: 50px;
    text-align: center;
}

.highlight {
    background-color: #ccc;
}